<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
  <h1> Hi, i am Vinay </h1>

  <form action="/api/logout"></form>
  <button type="submit">Logout</button>

</body>
</html>